
body{
    margin: 0;
    background-color: #2c2f32;
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: white;
}

.cr8-top-bar{
    background-color: #1c1e1f;
    overflow: hidden;
    height: 100px;
}
.cr8-top-bar a{
    float: left;

    line-height: 100px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 26px;
    color: white;
}

.cr8-top-bar a:hover{
    color: #c067ed;
}


.login-container{
    float: right;
}

#home-image{
    height: 100px; width: auto;
    padding: 0 2px;
}

.cr8-bottom-bar{
    background-color: #1c1e1f;
    overflow: hidden;
    position: fixed;
    height: 40px;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
}

.cr8-bottom-bar a{
    float: left;
    line-height: 40px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    font-size: 12px;
    color: white;
}
