{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}

<div> <h2> About Us:</h2></div>


<div class ="contentbox left">
    <div style="padding:10px">
      <h5>What is CR8?</h5>
        <p style= "margin:0;"> Formed in the year of our lord two thousand and twenty two in the firey steels of
           Web Application <s>Design</s> Development two.</p>
          <p style= "margin:0;"> CR8 is more than a project, more than a game, more than an idea.</p>
          <p style= "margin:0;">CR8 is <b> your life now.</b></p>
      <h5>Who are CR8?</h5>
      <p style= "margin:0;">You can find us where the Eagle cries, where the salmon swims, where nature overcomes.</p>
      <p style= "margin:0;">You can find us next to a baby's tears, you can find us past the time,
        you can usually find Sharon in some bushes.</p>
        <p style = "margin:0";> We are:</p>
        <p style = "margin:0";> Angus "Limbs" Wilson</p>
        <p style = "margin:0";> Lorne "Not Like the Sausage" Barnaby</p>
        <p style = "margin:0";> Jack "Killer" Kilpatrick</p>
        <p style = "margin:0";> Alastair "Cowardly" Lyall</p>
        <p style = "margin:0";> Sharon "Shifty" Padippurackal</p>
      <h5><b>Why</b> is CR8?</b></h5>
        <p style = "margin:0";> 60% of our grade innit</p>
      <h5>Wanna help CR8?</h5>
        <p style = "margin:0";> Firstly, why?</p>
        <p style = "margin:0";> Secondly contribute to our
          <a href="https://github.com/LorneBarnaby/WAD2-Team-2D">github</a>. Or don't idc.</p>
    </div>

{% endblock %}
