{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}

<div> <h2> About Us:</h2></div>


<div class ="contentbox left">
    <div style="padding:10px">
      <h5>What is CR8?</h5>
        <p> Formed in the year of our lord two thousand and twenty two in the firey steels of
           Web Application <s>Design</s> Development two.<br>
           CR8 is more than a project, more than a game, more than an idea.<br>
           CR8 is <b> your life now.</b><br>
      <h5>Who are CR8?</h5>
      <p>You can find us where the Eagle cries, where the salmon swims, where nature overcomes.<br>
      You can find us next to a baby's tears, you can find us past the time,
        you can usually find Sharon in some bushes.</p>
        <p style = "margin:0";> We are:<br>
         Angus "Limbs" Wilson<br>
         Lorne "Not Like the Sausage" Barnaby<br>
         Jack "Killer" Kilpatrick<br>
         Alastair "Cowardly" Lyall<br>
         Sharon "Shifty" Padippurackal<br>
      <h5><b>Why</b> is CR8?</h5>
        <p> 40% of our grade innit</p>
      <h5>Wanna help CR8?</h5>
        <p> Firstly, why?<br>
        Secondly contribute to our
          <a href="https://github.com/LorneBarnaby/WAD2-Team-2D">github</a>. Or don't idc.</p>
    </div>

{% endblock %}
