<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            CR8 -
            {% block title_block %}
                It's GR8!
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="cr8-top-bar">
            <a href="{% url 'cr8:index' %}"><img src="{% static 'images/cr8_logo.png' %}" alt="CR8 Home"/></a>
            <a href="{% url 'cr8:leaderboard' %}">Leaderboard</a>
            {% if user.is_authenticated %}
            <a href="{% url 'cr8:profile' user.username %}">View Profile</a>
            <a href="{% url 'cr8:logout' %}">Logout</a>
            {% else %}
            <div class="login-container">
                <a href="{% url 'cr8:login' %}" id="loginbtn">Login</a>
                <a href="{% url 'cr8:sign_up' %}" id="signupbtn">Sign Up</a>
            </div>
            {% endif %}

        </div>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <div class="cr8-bottom-bar">
            <a href="{% url 'cr8:about-us' %}">About Us</a>
            <a href="{% url 'cr8:contact-us' %}">Contact Us</a>
            <a href="{% url 'cr8:faqs' %}">FAQs</a>
        </div>
    </body>
</html>
