{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Contact Us
{% endblock %}
{% block body_block %}
<div style="margin-left:5%;"> <h2> Contact Us:</h2></div>

<div class ="contentbox left">
    <div style="padding:10px">
        <p >Can’t find the answer you’re looking for? Our Customer Care Team is here to help,<br>
            Our office hours are 09:00 - 18:00 Monday-Sunday.<br>
            Reach us at:</p>
        <p> Tel. Number : 08001111</a><br>
            Email : <a href="mailto: angusWuzHere@gmail.com">angusWuzHere@gmail.com</a> <br>
            You can meet us at precisely these coordinates :<a href="https://en.wikipedia.org/wiki/Mariana_Trench"> 11.3493° N, 142.1996° E </a></p>
        </divstyle>

</div>



{% endblock %}