{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    FAQs
{% endblock %}

{% block body_block %}
<div>
    <h1> Welcome to FAQs</h1>
</div>
<div data-col="" data-span="3" style="--span: 3; --start: 2;" class="Contact_text__1VDwj">
    <div class="body-l">
        <div class ="contentbox left">
            <div style="padding:10px">
                <p> Q) What happens if my Lootbox doesn't open <br>
                    A) Cry about it and get your money up</p>
                <p> Q) How do I view my prizes <br>
                    A) <a href="{% url 'cr8:login' %}">Login</a> or <a href="{% url 'cr8:sign_up' %}">Sign Up</a> and view your prizes and claim Achievements !!</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}