{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div id="left_half">
        <div>
            <div class="infobox">

                <div class="wrapper">
                    <div>
                        <h2>How to play</h2>
                        <p>cr8 is an interactive lootbox game that allows you to collect exciting prizes! To start
                            collecting prizes, simply make an account and open your first cr8. You will be rewarded
                            with an item, complete with image, description, rarity, and most importantly: a value!
                            Sell your treasured cr8s for in-game currency, and try to reach the top of the leaderboard.
                            Strive to earn achievements from your openings.
                            </br>
                            Will you reach illustrious peaks? Don't w8, sign up now to find out!
                        </p>
                    </div>
                    <img src="{% static 'images/present.png' %}" alt="Image of a present."/>
                </div>

            </div>

            <div class="infobox right">
                {#                <h2 class="right">What are your odds?</h2>#}
                <div class="wrapper">
                    <img src="{% static 'images/luck.png' %}" alt="Image of a clover."/>
                    <div>
                        <h2>What are the odds?</h2>
                        <p>you are definitely gonna win. keep playing.
                            it is good. continue to play. all is well
                            . your chances are good. they are not rigged. no chance. would we do that to you? yes. we
                            would.
                            but
                            we won't. we promise. who is we? who's asking? you are. who are you? checkmate.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="contentbox bottom">
            <div style="padding:15px">
                <h3>Your top prizes</h3>
                {% if user.is_authenticated %}
                    {% if user_prize_list %}
                        {% for prize in user_prize_list %}
                            {#                            need to add images, and css for positioning prizes#}
                            <li>{{ prize.prizeName }}</li>
                        {% endfor %}
                    {% else %}
                        <p>Start buying cr8's to earn prizes!</p>
                    {% endif %}
                {% else %}
                    <p>Login to earn and see your prizes!</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="right_half">
        <div id="right_half_container">
            <h4>Price: 20</h4>
            <div id="cr8-box-container">
                <img id="cr8-box" src="{% static 'images/cr8_cube.png' %}" alt="Image of a cr8.">
            </div>
            <div id="openbtn">
                <h5>
                    OPEN
                </h5>
            </div>
            {% if user.is_authenticated %}
                <h4>Currency: {{ user_currency }}</h4>
            {% else %}
                <h4>Login to see your currency</h4>
            {% endif %}
        </div>
    </div>
    {#        <p>{{ UserProfile.user.username}}</p>#}
    {#        <img src={{ UserProfile.profileImage.url }}></img>#}
{% endblock %}