{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Leaderboard
{% endblock %}

{% block body_block %}

    <h1 style="margin-left:5%"> Top Players </h1>

    {% if user.is_authenticated %}
        <div>
            <p style="margin-left:5%"> (your position: {{ curr_position_in_leaderboard }} ) </p>
        </div>
    {% endif %}
    <div class="flash-bar behind"></div>
    <div class="contentbox front" style="margin-top:0;">
        <div class="leaderboard-container">
            {% for user_profile in user_profile_list|slice:":10"  %}
                <div class="leaderboard-position">
                    <h5>{{ forloop.counter }}</h5>
                    <div>
                        <a href="{% url 'cr8:profile' user_profile.username_slug %}">
                            <img class = "zoom" src="{{ user_profile.profileImage.url }}"
                                alt="{{ user_profile.user.username }} Profile Image"/>
                        </a>
                    </div>
                    <h3 class="blue">
                        <a href="{% url 'cr8:profile' user_profile.username_slug %}">{{ user_profile.user.username }}</a>
                    </h3>
                    <h3>Currency: {{ user_profile.currency }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
