{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Leaderboard
{% endblock %}

{% block body_block %}

    <h1> Test Leaderboard Page </h1>

    {% if user.is_authenticated %}
        <div>
            <p> (your position: {{ curr_position_in_leaderboard }} ) </p>
        </div>
    {% endif %}
    <div>
        <ol>
            {% for user_profile in user_profile_list %}
            <li> {{ user_profile.user.username }} - currency: {{ user_profile.currency }}</li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}

