{% extends 'cr8/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}
{% block body_block %}
    </br>
<!--Using the login page from TWD we have modified it and enhanced the style of the program by adding css making it more pleasant to look  -->
    <h1 style="margin-left:5%">Login</h1>
    <div class="flash-bar behind"></div>
    <div class="contentbox front" style="margin-top:0;">
        <div class="form-container">
            <form id="login_form" method="post" action="{% url 'cr8:login' %}">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50"/>
                <br/>
                Password:&nbsp;&nbsp;<input type="password" name="password" value="" size="50"/><input type="submit" value="submit" class="submit-button"/>
                <br/>
                <br/>
                <p style="margin-left:0;">Don't have an account? <a href="{% url 'cr8:sign_up' %}" id="signupbtn" >Sign Up</a></p>
            </form>
        </div>
    </div>

    <img id="cr8-logo" src="{% static 'images/cr8_logo.png' %}" alt="CR8 Logo"/>
{% endblock %}
