{% extends 'cr8/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}

    {% if user_profile %}
        <div class="profile-container">
            <div class="column profile-info">
                <img class="profile-image zoom" src="{{ user_profile.profileImage.url }}"
                     alt="{{ user_profile.user.username }} Profile Image"/>
                <div class="contentbox">
                    {{ user_profile.user.username }}
                </div>
                <div class="contentbox">
                    {{ user_currency }}
                </div>
                <div class="contentbox">
                    edit profile?
                </div>

            </div>

            <div class="profile-stock column">
                <div class="profile-achievements contentbox">
                    {% if user_achievement_list %}
                        {% for achievement in user_achievement_list %}
                            <div class="achievement-container wrapper">
                                {#                            this is busted. how to get achievement images?#}
                                {#                                temporary image used instead#}
                                {#                                i think the view needs to change#}
                                <img class="zoom" src="{{ achievement.achievementImage.url }}" alt="achievement image">
                                <div>
                                    <p>{{ achievement.achievementName }}</p>
                                    <p> {{ achievement.achievementDescription }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="profile-achievements contentbox">
                    {% if unclaimed_achievement_list %}
                        {% for achievement in unclaimed_achievement_list %}
                            <div class="achievement-container wrapper">
                                <img class="zoom" src="{{ achievement.achievementImage.url }}" alt="achievement image">
                                <div>
                                    <p>{{ achievement.achievementName }}</p>
                                    <p> {{ achievement.achievementDescription }}</p>
                                </div>
                                {% if is_current_user %}
                                    <button class="claimbtns"
                                        data-achievementid="{{ achievement.id }}"
                                        type="button">
                                        <h6 class="claimbtntexts"> CLAIM </h6>
                                    </button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="profile-inventory contentbox">
                    {% if user_prize_list %}
                        {% for prize in user_prize_list %}
                            <li class="prize_list">
                                <div>{{ prize.prizeName }}</div>
                                <div>Value: {{ prize.prizeValue }}</div>
                                <img id="{{ prize.prizeName }}" class="zoom sellable" src="{{ prize.prizeImage.url }}"
                                     alt="Prize image"></li>
                            {% if is_current_user %}
                                <button class="sellbtns"
                                        data-prizeid="{{ prize.id }}"
                                        type="button">
                                        <h6 class="sellbtntexts"> SELL </h6>
                                </button>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>This user has no prizes :(</p>
                    {% endif %}
                </div>
            </div>

        </div>

    {% else %}
        <p><strong> The specified user does not exist. </strong></p>
    {% endif %}


{% endblock %}