{% extends 'cr8/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign UP
{% endblock %}
{% block body_block %}
    {% if edit_mode %}
        <h1 style="margin-left:5%">Edit Profile</h1>
    {% else %}
        <h1 style="margin-left:5%">Sign Up</h1>
    {% endif %}
    <div class="flash-bar behind"></div>
    <div class="contentbox front" style="margin-top:0;">
        <div class="form-container">
            {% if registered %}
                The CR8 Team says: <strong>Thank you for your patronage!</strong>
                <a href="{% url 'cr8:index' %}">Return to the homepage.</a><br/>
            {% else %}
                <form id="user_form" method="post" action="{% url 'cr8:sign_up' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <!-- Provide a button to click to submit the form. -->
                    {% if edit_mode %}
                        <input type="submit" class="submit-button" name="submit" value="Save Changes"/>
                    {% else %}
                        <input type="submit" class="submit-button" name="submit" value="Sign Up"/>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
